<div *ngIf="controlUnit">
	<div>
		<div>
			<div style="display: block;">
				<canvas id="myChart" width="50" height="50"></canvas>
			</div>
		</div>
		<div class="log-and-settings-row">

			<div class="log">
				<div *ngFor="let date of doughnutChartLogDate; let state of doughnutChartLogState; let i=index">
					{{doughnutChartLogDate[i]}} : {{doughnutChartLogState[i-1]}} -> {{doughnutChartLogState[i]}}
				</div>
			</div>

		<div class=description>
			<h3>{{controlUnit.name}}</h3>
			<h4>derzeit:
				<span [hidden]="!controlUnit.current">Aktiviert</span>
				<span [hidden]="controlUnit.current">Deaktiviert</span>
			</h4>

			<input type="checkbox" id="new-value"
				   class="update-checkbox-input form-input"
				   checked="controlUnit.current"
				   name="new-value">

			<input type="submit" id="submit-value"
				   class="update-form-field button" name="submit-value"
				   value="Wert setzen" (click)="addEntry()">
		</div>
	</div>
</div>

</div>