<h3>Hello from the enum Type!</h3>

<div *ngIf="controlUnit">

	<div>ControlUnit Name: {{controlUnit.name}}</div>
	<div>ControlUnit Current value: {{controlUnit.current}}</div>
	<div>ControlUnit is Primary Control: {{controlUnit.primary}}</div>
	<div>ControlUnit Values: {{controlUnit.values}}</div>
	<div>ControlUnit min Value (should be empty here, as only
		available in continuous): {{controlUnit.min}}</div>
	<div>ControlUnit max Value (should be empty here, as only
		available in continuous): {{controlUnit.max}}</div>



	<div style="display: block">
		<canvas baseChart [data]="polarAreaChartData"
			[labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
			[chartType]="polarAreaChartType" (chartHover)="chartHovered($event)"
			(chartClick)="chartClicked($event)"></canvas>
	</div>



	<div class="details-outer">
		<div class="details-image-container">
			<img class="details-image" src="../../images/placeholder_enum.PNG">
		</div>
		<div class="details-data">
			<label class="accessibility" for="details-log">Letzte
				Werteänderungen</label>
			<textarea id="details-log" class="detail-logs"
				placeholder="Gerätelog" readonly rows="6">6.3.2017 10:02:32: Ein -> Standby</textarea>
			<div class="details-settings">
				<h3 class="details-headline">Gerätezustand einstellen</h3>

				<form class="update-form" method="post">
					<label class="update-form-field" id="current-value"> <span
						class="current-value">derzeit: Standby</span>
					</label> <label class="accessibility" for="new-value">Bitte
						gewünschten Wert aus Menü auswählen.</label> <select id="new-value"
						class="update-form-field form-input" name="new-value" required>
						<option>Aus</option>
						<option>Ein</option>
						<option selected>Standby</option>
					</select> <input type="submit" id="submit-value"
						class="update-form-field button" name="submit-value"
						value="Wert setzen">
				</form>
			</div>
		</div>
	</div>
</div>