<div *ngIf="controlUnit">
	<div>
		<div>
			<div style="display: block;">
				<canvas id="myChartContinuous" class="myChartContinuous" width="50" height="50"></canvas>
			</div>
		</div>
		<div class="log-and-settings-row">
			<div class="log">
				<div
					*ngFor="let entry of lineChartData[0].data; let label of lineChartLabels; let i=index">
					{{lineChartLabels[i]}}: {{lineChartData[0].data[i-1]}} ->
					{{lineChartData[0].data[i]}}</div>

			</div>
			<div class=description>
				<h3>{{controlUnit.name}}</h3>
				<h4>derzeit: {{controlUnit.current}}</h4>
				<!-- TODO: Form for linear entry -->
				<input type="number" step="0.01" min={{controlUnit.min}}
					max={{controlUnit.max}} id="new-value" value="1"
					class="update-form-field form-input" name="new-value" required>
				<input type="submit" id="submit-value"
					class="update-form-field button" name="submit-value"
					value="Wert setzen" (click)="addEntry()">
			</div>
		</div>
	</div>

</div>
