<div *ngIf="controlUnit">
		<div style="display: block;">
			<canvas id="myChartEnum" class="myChartEnum" width="50" height="50"></canvas>
		</div>

		<div class="log-and-settings-row">
			<label class="accessibility" for="details-log">Letzte Werteänderungen</label>
			  <div id="details-log" class="log">
				   <div *ngFor="let date of chartLogDate; let state of chartLogState; let i=index">
				{{chartLogDate[i]}} : {{chartLogState[i-1]}} -> {{chartLogState[i]}}
				   </div>
			  </div>

			<div class=description>
				<h3>Gerätezustand einstellen</h3>
				<h4>derzeit: {{controlUnit.current}}</h4>

					<label for="new-value">
						Bitte gewünschten Wert aus Menü auswählen.
					</label>
					<select id="new-value" class="update-form-field form-input" name="new-value" required>
						<option *ngFor="let value of controlUnit.values">{{value}}</option>
					</select>

					<input type="submit" id="submit-value"
						   class="update-form-field button"
						   name="submit-value" value="Wert setzen"
						   (click)="addEntry()">

			</div>
		</div>
</div>
