body{
    display: flex;
    flex-direction: column;
}

section {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

form {
    margin-top: 40px;
    text-align: center;
}

.group {
    display: inline-block;
    margin-top:0px;
    margin-bottom:16px;
    width: 100%;
}

.item {
    width: 50%;
    float: left;
    text-align: left;
    display: inline-block;
}

.button {
    width: 55%;
}

label {
    font-size: inherit;
    font-family: inherit;
    display: table-cell;
    vertical-align: middle;
    height:34px;
}

.inputfield {
    font-size: inherit;
    font-family: inherit;

    border-radius: 5px;
    border: 1px solid #cccccc;

    width: 100%;
    box-sizing: border-box;
    
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;    

}


@media screen and (min-width: 1200px) {}

@media screen and (min-width: 768px) and (max-width:1199px) {
}

@media screen and (min-width: 600px) and (max-width: 767px) {

}

@media screen and (min-width: 400px) and (max-width:599px) {
    section {
        margin-top: 50px;
        margin-left: 24px;
        margin-right: 24px;
    }  
    
    form{
        margin-top: 40px;
    }
    
    .item {
        width: 50%;
    }
    
    .button{
        width: 55%;
    }
}

@media screen and (max-width:399px) {
    
    section {
        margin-top: 50px;
        margin-left: 24px;
        margin-right: 24px;
    }

    form{
        margin-top: 51px;
    }
    
    .item, .button{
        width: 100%;
    }        
}